body {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #f4f6f9;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-regular.woff') format('woff');
}

table {
    font-size: smaller;
}

h1 {
    font-size: 2.25rem;
    font-weight: bold;
}

thead {
    background-color: #e6ecef;
    border-bottom: none;
    border-top: none;
}


thead th {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #3a474d;
}

table.bootstrap-table td {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

table.table-bordered.dataTable tbody td {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

td {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}

legend {
    padding: 2px;
}

th {
/*    background-color: #b8d2e8 !important;*/
    /*color: white !important;
    font-size: large !important;*/
    text-align: center !important;
}

.active2 {
    background: #494e53 !important;
}

/*td {
    color: #48606c;
    font-size: 0.875rem;
    white-space: nowrap;
}


th {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #3a474d;
    padding: 0 0 0.625rem 0.625rem;
    font-weight: normal;
    border-bottom-width: 0px;
    border-top: none;
}

    th:not(:last-child) {
        border-right: solid 1px #dfe7eb;
        border-bottom-width: 0px;
        border-top: none;
    }

thead td {
    border-bottom-width: 0px;
}*/
